 #body{
background-color: #000000; /* black */
 }


 .footer{
    background-color: #000000;
    height: 85px;
    margin-top: 90px;
 }

 #foot{
    padding-top: 0px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    line-height: 25px;
 }
 #ft{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma ;
 }
 P{
   font-size: 15;
   font-family: Arial;
   font-style: italics;

 }
 #heading{
   font-size: 20px;
 }

 #list{
   background-color: #000000;
   color: white;
   width: 550px;
   border-radius: 5px;
   padding: 2px;
   font-family: sans-serif;
   margin-top: -20px;
 }

 a{
   font-size: 20px;
 }
 .img{
   margin-left: 90px;
   display: flex;
 }

#self{
   width: 600px;
   height: 400px;
 }
 #CMPD{
   width: 600px;
   height: 400px;
 }
 #ARN{
   width: 600px;
   height: 400px;
 }
  #stadium{
   width: 600px;
   height: 400px;
 }

 .mg2{
   margin-left: 90px;
   display: flex;
 }
 .image{
   text-align: center;
   
 }
 #list{
   margin-left: 365px;
 }