

.header{
    background-color: #3ec0fc;
    height: 100px;
    width: 100%;
    margin-top: 60px;
 }

 #head{
    padding-top: 20px;
    text-align: center;
    color: #000000;
 }


 #hd{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma ;
}

#heading{
   font-size: 20px;
 }
 #Hotel{
   width: 600px;
   height: 400px;
 }

 #Motel{
   width: 600px;
   height: 400px;
 }
 
 #APTMT{
   width: 600px;
   height: 400px;
 }
#GSTH{
   width: 600px;
   height: 400px;
 }
 #CMPD{
   width: 600px;
   height: 400px;
 }

#STDM{
   width: 600px;
   height: 400px;
 }


#ARN{
   width: 600px;
   height: 400px;
 }


#ARN{
   width: 600px;
   height: 400px;
 }
#SWMPL{
   width: 600px;
   height: 400px;
 }


.footer{
    background-color: #3ec0fc;
    height: 100px;
    width: 100%;
    margin-top: 60px;
 }

 #foot{
    padding-top: 20px;
    text-align: center;
    color: #000000;
 }
 #ft{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma ;
 }
